.timerDisplay p {
  margin: auto;
  font-size: 1.4rem;
  background-color: #244855;
  position: relative;
  bottom: 0rem;
  right:-0.5rem ;;
  width: 6rem;
  height: auto;
  border: 5px solid #6791a0;
  border-radius: 1rem;
}
